body {
  background-color: #1f1f1f;
  font-family: "Poppins";
  color: white;
}

/* -------------- navbar css ------------------- */
.topbar {
  background-color: #242423;
  height: 70px;
  box-shadow: 0 4px 8px rgba(255, 255, 255, 0.2),
    0 6px 20px rgba(255, 255, 255, 0.15);
  border-top: 3px solid red;
}
.nav-col {
  border-left: 2px solid red;
}
/* -------------- default icon css ---------------*/

.profile-button {
  background-color: #e79494;
  border: none;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}

.profile-button img {
  width: 100vh;
  height: 100%;
  object-fit: cover;
  border-radius: 50%;
}

.dropdown-toggle::after {
  display: none;
}

.dropdown-menu {
  min-width: 150px;
  right: 0;
}

.main-div-content {
  margin-top: 70px;
}
/* ---------------- sidebar css ------------------- */

.sidebar {
  position: fixed;
  top: 70px;
  bottom: 0;
  height: 100vh;
  background-color: #252422;
  z-index: 1000;
  overflow-y: auto;
  transition: transform 0.3s ease;
}

.sidebar a {
  color: #fff;
  padding: 8px 15px 8px 15px;
  text-decoration: none;
  font-size: 18px;
  display: block;
  transition: all 0.3s ease;
  background-color: #2c2c2c;
  margin-bottom: 2px;
}

.sidebar a:hover {
  text-decoration: none;
  color: red;
}

.sidebar a:focus {
  text-decoration: none;
  color: white;
}

.sidebar i {
  margin-right: 10px;
}

.main-content {
  margin-left: 0;
  transition: all 0.3s ease;
}

.toggle-btn {
  display: none;
  background-color: #007bff;
  color: #fff;
  border: none;
  padding: 10px 15px;
  font-size: 18px;
  cursor: pointer;
  z-index: 1100;
  border-radius: 5px;
  transition: all 0.3s ease;
}

@media (max-width: 576px) {
  .toggle-btn {
    display: block;
    padding: 4px 10px;
    font-size: 14px;
  }
}

/* --------------- dashboard css ------------------ */

.dashboard-card {
  border-radius: 15px;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1);
  transition: transform 0.2s;
  background-color: #2b2b2b;
  color: #f2f2f2;
}

.dashboard-card:hover {
  transform: scale(1.05);
  cursor: pointer;
}

.card-title i {
  font-size: 24px;
  margin-right: 10px;
  color: #dc3545;
  display: flex;
  align-items: center;
}

.card_text {
  font-size: 2rem;
  font-weight: bold;
  color: #f2f2f2;
}

.heading {
  color: #f2f2f2;
  font-weight: bold;
  text-align: center;
}

/* ------------------ video-card css ------------------ */

.main_div {
  background-color: #1a1a1a;
  border: 2px solid #8080802b;
  border-radius: 5px;
}

.card {
  background-color: #2c2c2c;
  border: none;
  border-radius: 10px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.card-img-top {
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  height: 300px;
  object-fit: cover;
}

.card-title {
  font-weight: bold;
  font-size: 1.2rem;
  color: #f2f2f2;
}

.card-text-video {
  color: #f2f2f2;
}

.btn-primary {
  background-color: #007bff;
  border-color: #007bff;
}

.btn-primary:hover {
  background-color: #0056b3;
  border-color: #004a9b;
}

.btn-danger {
  background-color: #dc3545;
  border-color: #dc3545;
}

.btn-danger:hover {
  background-color: #a71d2a;
  border-color: #9c1724;
}

/* ---------------- user section css --------------------- */

.table {
  background-color: #2c2c2c;
  color: #ffffff;
  border-color: #444444;
}

.table th,
.table td {
  background-color: #2a2a2a;
  color: #ffffff;
  padding: 13px;
}

.table th {
  background-color: #3a3a3a;
  border-color: #444444;
}

/* ------------------- article section css -------------------- */

.article-image {
  height: 200px;
  object-fit: cover;
  border-top-left-radius: 0.25rem;
  border-top-right-radius: 0.25rem;
}

.article-card {
  background-color: #2c2c2c;
  border-color: #444444;
}

/* ------------------ pagination css ------------------ */

.page-link {
  background-color: #343a40;
  color: white;
  border-color: #495057;
  font-weight: bold;
}

.page-link:hover {
  background-color: red;
  color: white;
  border-color: red;
}

.page-link:focus {
  background-color: red;
  border-color: red;
  outline: none;
  box-shadow: none;
  color: white;
}

/* ------------------- terms and condition css ------------------ */

.t-c_div {
  background-color: #252422;
}

.t-c_div h1 {
  font-weight: bold;
}

.h2-heading {
  font-weight: 700;
  color: #ffffff;
}

.p-para,
.li-text {
  font-size: 1.2rem;
  color: #e0e0e0;
  line-height: 1.6;
}

/* ----------------- video style ------------------- */

.form-container {
  background-color: #2b2b2b;
  padding: 40px;
  border-radius: 10px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
}

.upload-label {
  margin-right: 15px;
}

.form-group label {
  font-weight: bold;
  margin-bottom: 10px;
}

#video {
  width: 100%;
  padding: 5px;
  border-radius: 5px;
}
.form-control::placeholder {
  color: #f2f2f2;
}

.form-control,
.custom-file-input {
  background-color: #3b3b3b;
  border: 1px solid #3b3b3b;
  color: #f2f2f2;
}

.form-control:focus,
.custom-file-input:focus {
  background-color: #4b4b4b;
  border-color: #4b4b4b;
  box-shadow: none;
  color: #f2f2f2;
}

.custom-file-input {
  width: 100%;
  padding: 5px;
  border-radius: 5px;
}

.btn-danger {
  background-color: #dc3545;
  border-color: #dc3545;
}

.btn-danger:hover {
  background-color: #c82333;
  border-color: #bd2130;
}

.radio-label {
  margin-right: 15px;
}
.form-check-input:checked {
  background-color: #dc3545;
  border-color: #dc3545;
}

#videoUrlField {
  display: none;
}

/* ---------------- add new article style ------------------ */

.article h3 {
  font-weight: bold;
  text-align: center;
}

.story-card {
  background-color: #2b2b2b;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
  border: none;
  border-radius: 10px;
  padding: 40px;
}

.form-label {
  font-weight: bold;
  color: #f2f2f2;
}

.form-text {
  color: #f2f2f2b0;
}

/* ------------- logout section css ------------------*/

.logout-card {
  background-color: #2c2c2c;
  border: none;
  border-radius: 10px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
  text-align: center;
}

.logout-card-header {
  background-color: #3a3a3a;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

.btn-secondary {
  background-color: #6c757d;
  border-color: #6c757d;
}

.btn-secondary:hover {
  background-color: #5a6268;
  border-color: #545b62;
}

/* --------------- add new user css ----------------*/

.new__user {
  padding: 40px;
  background-color: #2c2c2c;
  border-radius: 10px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
}

.form-label {
  color: #e0e0e0;
}

/* --------------- category css ----------------- */

.category-card {
  background-color: #2c2c2c;
  border: none;
  border-radius: 10px;
  transition: transform 0.3s, box-shadow 0.3s;
}

.category-card:hover {
  transform: translateY(-5px);
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.5);
}

.card-img-top {
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  height: 200px;
  object-fit: cover;
}

h1 {
  text-align: center;
  margin-bottom: 30px;
}
